# this is based on the wheel workflow in GalSim+fitsio
name: pypi upload

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'The git ref for the release. This will trigger a pypi upload.'
        default: ''
        required: false
        type: string
  pull_request: null
  release:
    types:
      - published

concurrency:
  group: pypi
  cancel-in-progress: false

env:
  PYVER: '3.11'

jobs:
  build-sdist:
    name: build sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.ref || '' }}
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '${{ env.PYVER }}'

      - name: install dependencies
        run: |
          python -m pip install -U pip
          pip install -U build

      - name: build sdist
        run: |
          python -m build --sdist .
          tar tvfz dist/*.tar.gz

      - name: publish to pypi
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        if: github.event_name == 'release' || github.event_name == 'workflow_dispatch'
        with:
          verbose: true
          skip-existing: true
          password: ${{ secrets.PYPI_API_TOKEN }}
