name: tests

on:
  push:
    branches:
      - main
  pull_request: null

env:
  PY_COLORS: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: tests
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          environment-file: environment.yml
          environment-name: eyrieax
          create-args: python=3.11

      - name: configure conda and install code
        shell: bash -l {0}
        run: |
          pip install --no-deps --no-build-isolation -e .

      - name: test
        shell: bash -l {0}
        run: |
          export JAX_ENABLE_X64=1
          pytest -vv tests
